@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Formation sur le développement web avec Azure App Service.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm @ViewBag.BgColor border">
            <p>Démo paramètres d'application Kudu</p>
        </div>
        <div class="col-sm bg-light border">
            <p>Démo Traffic manager</p>
            <p>Vous consultez le site depuis :  @ViewBag.Region </p>
        </div>
        <div class="col-sm bg-light border">
            <p>Démo Azure Redis cache</p>
            <ul>
                <li>Date et heure actuelle : @DateTime.Now.ToString()</li>
                <li>Date et heure en cache : @ViewData["CacheDateTime"]</li>
            </ul>
        </div>
    </div>
</div>
