@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Formation sur le développement web et mobile avec Azure App Service.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm @ViewBag.BgColor border">
            <p>Démo paramètres d'application</p>
        </div>
        <div class="col-sm bg-light border">
            <p>Démo CDN</p>
            <p>Vous consulter le site depuis </p>
        </div>
        <div class="col-sm bg-light border">
            <p>Démo Azure Redis cache</p>
        </div>
    </div>
</div>